<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462462033580-1qe1klvk8eepni2kqqi46rtm4n1pmgrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462462033580-1qe1klvk8eepni2kqqi46rtm4n1pmgrv</string>
	<key>API_KEY</key>
	<string>AIzaSyDm08hnCswd4_HsZCk6HUHi6CVCH5HvNFA</string>
	<key>GCM_SENDER_ID</key>
	<string>462462033580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>duckingninja</string>
	<key>STORAGE_BUCKET</key>
	<string>duckingninja.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462462033580:ios:391776fba66598b35c4909</string>
</dict>
</plist>